{% extends "layout.html" %}

{% block title %}
    HomePage
{% endblock %}

{% block main %}
<script>
    function deleteTask(taskId) {
        fetch(`/${taskId}`, {
            method: 'DELETE',
        })
        .then(response => {
            if (response.ok) {
                alert('Task deleted successfully!');
                location.reload();
            } else {
                alert('Error to delete task');
            }
        })
        .catch(error => console.error('Erro:', error));
    }
</script>

    <h1 class="title">List of Tasks</h1>
        {% for task in tasks %}
        <div class="task-list">
            <div class="wrapper">
                <div class="form-box">
                    <ul>
                        <li>{{ task[0] }}</li>
                        <p class="task-description">{{ task[1] }}</p>
                    </ul>
                    <button onclick="deleteTask('{{ task[2] }}')" class="delete">Delete</button>
                </div>
            </div>
        </div>
            {% endfor %}
{% endblock %}

