<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <link href="/static/sticker.png" rel="icon">
        <link href="/static/styles.css" rel="stylesheet">
        <title>To-do List {% block title %}{% endblock %}</title>
    </head>

    <body>
        <header>
            <h2 class="logo">TO-DO List</h2>
            <nav class="navigation">
                    {% if session["user_id"] %}
                        <a href="/logout">Logout</a>
                        <a href="/task">Create a Task</a>
                    {% else %}
                        <a href="/register">Register</a>
                        <a href="/login">Login</a>
                    {% endif %}
            </nav>
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
        
    </body>

</html>