{% extends "layout.html" %}

{% block title %}
    Create Task
{% endblock %}


{% block main %}
    <div class="wrapper">
        <div class="for-box login">
            <h1>Create the task</h1>
            <form action="/task" method="post">
                <div class="input-box">
                    <input name="task_title" autocomplete="off" placeholder="Name of the task" type="text" required>
                </div>
                <div class="input-box">
                    <input name="description" type="text" placeholder="Description of the task" required>
                </div>
                <button class="btn" type="submit">Submit</button>
            </form>
        </div>
    </div>

{% endblock %}